 
@import 'custom.scss';
@import '_globals.scss';

$colors: (
  Nutmeg: hsl(14, 45%, 36%),
  Dark Raspberry: hsl(332, 51%, 32%),
  White: hsl(0, 0%, 100%),
  Rose White: hsl(330, 100%, 98%),
  Eggshell: hsl(30, 54%, 90%),
  Light Grey: hsl(30, 18%, 87%),
  Wenge Brown: hsl(30, 10%, 34%),
  Dark Charcoal: hsl(24, 5%, 18%),
);
$fallback-colors: (
  Brown #7f1734 white snow #f4f0ec lightgray #8b8386 black
);

@mixin background($url,$position:auto,$size:auto,$repeat:no-repeat,$fixed:fixed,$color:white){
    background: url($url) $position/$size $repeat $fixed $color; 
}
@mixin font-color($color, $fallback-color) {
  color: $fallback-color;
  color: $color;
}

@mixin bg-color($color, $fallback-color) {
  background-color: $fallback-color;
  background-color: $color;
}


@mixin border-radius($radius...) {
  border-radius: $radius;
}
@mixin margin($args...) {
  margin: $args;
}
@mixin padding($args...) {
  padding: $args;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html,body{
  @include bg-color(map-get($colors,Rose White),nth($fallback-colors,4));
}

body {
  @include font-color(map-get($colors,Dark Charcoal),nth($fallback-colors,8));
  font: {
     size: 100%; 
     weight: $font_weight-normal;
     style:normal;
     family: "Young Serif", serif;
  }
}
.outfit{
  font-family: "Outfit", sans-serif;
  font-style: normal;
  font-optical-sizing: auto;
}
.outfit-400 {
  @extend .outfit;
  font-weight: 400;
}
.outfit-600 {
  @extend .outfit;
  font-weight: 600;
}
.outfit-700 {
  @extend .outfit;
  font-weight: 700;
}

.card{
    
    width: $container__form-xs;
    @include bg-color(map-get($colors,Very Dark Eggshell),nth($fallback-colors,5));
    @include margin(25px auto);
    @include padding(25px);

    #header{
      @include bg-color(map-get($colors,Very Dark Eggshell),nth($fallback-colors,5));
      img{
        display:block;
        @include margin(15px auto);
        @include border-radius(18px);
        @include media-breakpoint-up(xxl){
          img{
            max-width: 1390px;
            aspect-ratio: 164/75;
          }
        }
      }
      h1{
        text-wrap:balance;
      }
      @include media-breakpoint-up(xxl){
          h1{
            font-size: 3.1em;
          }
      }
      
    }

    #main{
      @include bg-color(map-get($colors,Very Dark Eggshell),nth($fallback-colors,5));
      section{
        @include padding(5px);
        h2{
          text-wrap:balance;
        }
        li{
          @include margin(5px);
          @include media-breakpoint-up(xxl){
            @include margin(10px);
          }
        }
        li::marker,.color-nutmeg{
          @include font-color(map-get($colors,Nutmeg),nth($fallback-colors,1));
        }
        .border-bottom{
           border: 2px solid map-get($colors,Light Grey);
        }
        @include media-breakpoint-up(xxl){
           @include padding(10px);
        }
      }
      section:first-of-type{
          @include padding(15px);
          @include border-radius(15px);
          h2:first-of-type{
            font-size: 1.2em;
            @include font-color(map-get($colors,Dark Raspberry),nth($fallback-colors,2));
            @include media-breakpoint-up(xxl){
              font-size: 1.5em;
            }
          }
          li::marker{
            @include font-color(map-get($colors,Dark Raspberry),nth($fallback-colors,2));
          }
          @include media-breakpoint-up(xxl){
            @include padding(25px);
          }
      }
      
      h2:not(first-of-type){
        @include font-color(map-get($colors,Nutmeg),nth($fallback-colors,1));
        font-size: 2.2em;
        @include media-breakpoint-up(xxl){
           font-size:2.4em;
        }
      }
      .rose-background{
        @include bg-color(map-get($colors,Rose White),nth($fallback-colors,4));
      }
    }
    @include media-breakpoint-up(xxl){
      width: $container__form-xxl;
    }
}

#bottom-footer {
.attribution {
  font-size: $font_size-8;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
}

